body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px; /* you can change this value to fit your needs */
  margin: 0 auto;
  padding: 2rem;
}

.title {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.input-group, .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.select, .input {
  background-color: #2C2C2C;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem;
  outline: none;
  flex-grow: 1;
  margin-left: 1rem;
}

.input {
  height: 2.1rem;
}

.select {
  margin-left: 0;
}

.network-info, .result {
  background-color: #1E1E1E;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 97%;
  overflow-x: auto;
}

.info-table, .result-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  overflow: auto;
}

.info-table th, .result-table th {
  color: #FF9800;
  padding: 0.5rem;
}

.info-table td, .result-table td {
  color: #fff;
  padding: 0.5rem;
}

.button {
  background-color: #FF9800;
  border: none;
  border-radius: 5px;
  color: #000;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0;
  cursor: pointer;
}

.button:disabled {
  background-color: #7F7F7F; /* a gray color */
  color: #B3B3B3; /* a lighter gray color */
  cursor: not-allowed; /* changes cursor to indicate the button is disabled */
}

.button.start {
  margin-right: 0.5rem;
}

.button.stop {
  margin-left: 0.5rem;
}

.progress {
  color: #FF9800;
  margin-bottom: 1rem;
}

a {
  color: #000; /* text color */
  text-decoration: none; /* remove underline */
  padding: 0.5rem 1rem; /* padding */
  border-radius: 5px; /* border radius */
  border: 1px solid #FF9800;
  transition: background-color 0.3s ease; /* smooth color transition */
  cursor: pointer;
  color: white;
}

a:hover {
  background-color: #FFA726; /* slightly lighter color on hover */
  color: #000;
}

tr {
  border-bottom: 1px solid #707070;
}
