body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 2rem;
}

.title {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

.input-group, .button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.select, .input {
  background-color: #2C2C2C;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem;
  outline: none;
  flex-grow: 1;
  margin-left: 0.5rem;
}

.network-info, .result {
  background-color: #1E1E1E;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.info-table, .result-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.info-table th, .result-table th {
  color: #FF9800;
  padding: 0.5rem;
}

.info-table td, .result-table td {
  color: #fff;
  padding: 0.5rem;
}

.button {
  background-color: #FF9800;
  border: none;
  border-radius: 5px;
  color: #000;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0;
  cursor: pointer;
}

.button.start {
  margin-right: 0.5rem;
}

.button.stop {
  margin-left: 0.5rem;
}

.progress {
  color: #FF9800;
  margin-bottom: 1rem;
}
